body {
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
}

/* navbar */

.navbar {
    background-color: #061a28;
    overflow: hidden;
    margin: auto;
    width: 100%;
}

.logo {
    color: #7eff63;
    float: left;
    padding-left: 10px;
}

.menu {
    list-style: none;
    float: right;
    text-align: center;
    font-weight: bolder;
}
.li  {
    padding: 10px;
}

.navbar-items {
    text-decoration: none;
    color: #7eff63;
    display: inline-block;
}

.navbar-items:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* textos */
.textos{
    background-color: #061a283d;
}
/*  5 motivos */
.titulo-postagens{
    color: black;
    font-size: 30px;
    text-align: center;
}
.texto-base{
    font-size: 19px;
    color: #061a28;
}
.motivo-img{
    height: 250px;
    float: right;
    transform: translate(0,-30%);
    margin: 10px;
}
@media screen and (max-width: 700px){
    .motivo-img{
        height: 250px;
        margin: 10px;
        float: none;
        transform: translate(30%,0%);
    }
}
/* social */
.social{
    background: #061a28;
    padding: 10px;
    margin: 0;
    text-align: center;
    height: 100px;
}
.rede{
    color:#7eff63;
    font-size: 35px;
    list-style:none;
    text-decoration: none;
}
.github{
    margin-bottom: 10px;
}